.edit-icon {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.group:hover .edit-icon {
  opacity: 1;
}

.custom-tabs .rs-tabs-nav {
  display: none;
}

.custom-tabs .rs-tabs-content {
  border: none;
}
